# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Built output
dist/
coverage/
.nyc_output/
*.tgz
*.zip


*/*.js.map

*.pem
test.js